/*Configuraciones básicas*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    max-width: 375px;
    margin: 0 0.5rem 0 2rem;
    font-family: 'Shantell Sans', cursive;
    font-size: 10px;
}
:root{
    --color1 : rgb(17, 161, 82);

    --color2 :  rgb(182, 255, 154);

    --color3 : rgba(31,37,50,1.0);
    
    --color4 : rgba(88,92,102,1.0);
}

