html{
    background-color: rgb(182, 255, 154);
}
.menu{
    background-color: rgb(17, 161, 82);
}
.munuu{
    width: 3rem;
    height: 3rem;
}
.vacio{
    height: 3rem;
    border: solid black 0.2rem;
 }
 .send{
    height: 3rem;
    border: solid black 0.2rem;
    margin: 2rem 0 0 0;
    background-color: rgb(17, 161, 82);
 }
 .enviar{
    font-size: 1.5rem;
    margin: 0.5rem 0 0 8rem;
   
 }
 .cuadro{
    height: 25rem;
    margin-top: 3rem;
    border: solid black 0.2rem;
 }
 .tec{
    margin: 2rem 0 0 8rem;
    font-size: 1.5rem;
}
.tec2{
    margin: 0.5rem 0 0 7rem;
}
.tecc{
    margin: 2rem 0 0 7rem;
}
.tecd{
    margin: 0 0 0 9rem;
}
.tecdd{
    margin:0 0 0 10rem;
}
.tecdxd{
    margin: 0 0 0 10rem;
}

.teccc{
    margin: 2rem 0 0 8.5rem;
}
.tess{
    margin: 0 0 0 9.5rem;
}
.tesss{
    margin: 0 0 0 10rem;
}
.tessss{
    margin: 0 0 5rem 8.8rem;
}

.pie{
    margin: 2rem 0 0 0;
    border: solid black 0.2rem;
}
.textoss{
    font-size: 1rem;
}
.l1{

    margin: 2rem ;
}
.l2{

    margin: 2rem ;
}
.l3{

    margin: 2rem ;
}
.dop{
    margin: 2rem 0 1.5rem 15rem;
}