html{
    background-color: rgb(182, 255, 154);
}
.menu{
    background-color: rgb(17, 161, 82);
}
.munuu{
    margin: 1rem 0 1rem 2rem;
    width: 3rem;
    height: 3rem;
}
.vacio{
    height: 3rem;
    border: solid black 0.2rem;
 }
 .send{
    height: 4rem;
    border: solid black 0.2rem;
    margin: 2rem 0 0 0;
    background-color: rgb(17, 161, 82);
 }
 .enviar{
    font-size: 1.5rem;
    margin: 0.5rem 0 0.5rem 14rem;
   
 }
 .cuadro{
    height: 25rem;
    margin-top: 3rem;
    border: solid black 0.2rem;
 }
 .fondo1{
    display: block;
    width: 37rem;
    height: 24.5rem;
}
 .tec{
    margin: 2rem 0 0 15rem;
    font-size: 1.5rem;
}
.tec2{
    margin: 0.5rem 0 0 13.5rem;
}
.tecc{
    margin: 2rem 0 0 15rem;
}
.tecd{
    margin: 0 0 0 17rem;
}
.tecdd{
    margin:0 0 0 18rem;
}
.tecdxd{
    margin: 0 0 0 18rem;
}

.teccc{
    margin: 2rem 0 0 17rem;
}
.tess{
    margin: 0 0 0 17.5rem;
}
.tesss{
    margin: 0 0 0 18.5rem;
}
.tessss{
    margin: 0 0 5rem 17rem;
}
.titulo{
    font-size: 2rem;
    margin: 2rem;
}
.pie{
    margin: 5rem 0 0 0;
    border: solid black 0.2rem;
}
.textoss{
    font-size: 1rem;
}
.l1{

    margin: 2   rem ;
}
.l2{

    margin: 2rem ;
}
.l3{

    margin: 2rem ;
}
.dop{
    margin: 1rem 0 1.5rem 10rem;
}