html{
    background-color: rgb(182, 255, 154);
}
.menu{
    background-color: rgb(17, 161, 82);
}
.munuu{
    width: 3rem;
    height: 3rem;
}
.patr1{
    background-image:url(./../https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg);

    border: solid black 0.2rem;
    padding: 1rem;
}
.fondo1{
    width: 24.5rem;
    height: 10rem;
}
.tecfv{
    padding: 2rem0;
}
.txt{
   margin: 2rem 0 1rem 8rem;
}
.vacio{
   height: 10rem;
   border: solid black 0.2rem;
}
.tec{
    font-size: 0.5rem;
}
.pie{
    margin: 5rem 0 0 0;
    border: solid black 0.2rem;
}
.textoss{
    font-size: 1rem;
}
.l1{

    margin: 2rem ;
}
.l2{

    margin: 2rem ;
}
.l3{

    margin: 2rem ;
}
.dop{
    margin: 1rem 0 1.5rem 10rem;
}